# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db